#todo-list li .toggle, #todo-list li .destroy {
  cursor: pointer;
}

#todo-list li label {
  white-space: normal;
}

#todo-list li .date {
  position: absolute;
  top: 15px;
  right: 50px;
}

#todo-list li .red {
  color: red;
}